.settings-page {
    background-color: #EAE5DD;
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
    width: 100%;
    max-width: 500px;
    align-items: center;
}

.setting-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.setting-label-container {
    background-color: #C5B4BE;
    border-radius: 25px;
    padding: 8px 30px;
    margin-bottom: 15px;
    color: white;
    font-family: 'IMFeGPrm', serif;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    gap: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.setting-value {
    font-weight: bold;
}

.slider-container {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 15px;
}

.slider-min,
.slider-max {
    font-family: 'IMFeGPrm', serif;
    font-size: 1.5rem;
    border-radius: 2px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: transparent;
    outline: none;
    cursor: pointer;
    margin: 10px 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    background: #C5B4BE;
    border-radius: 3px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #8E6E86;
    cursor: pointer;
    border-radius: 2px;
    margin-top: -7px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.slider::-moz-range-track {
    width: 100%;
    height: 6px;
    background: #C5B4BE;
    border-radius: 3px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #8E6E86;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}